* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100%;
}
html,
body {
  min-height: 100vh;
  height: 100%;
}

.dark-mode {
  background-color: black;
  color: #999;
  height: 100%;
  transition: 0.25s ease-in-out;
}
.light-mode {
  background-color: white;
  color: #333;
  height: 100%;
  transition: 0.25s ease-in-out;
}
.switch{
  display: flex;
  width: 140px;
  align-items: center;
}
.switch input {
  width: 20px;
  height: 40px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  height: 100%;
}
ul li {
  font-size: 18px;
  display: flex;
  text-decoration: none;
  padding: 10px;
}
ul li a {
  text-decoration: none;
  color: black;
}
